@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/navs'; 
 
/* 
The Bolt framework by Darren Hoyt

TABLE OF CONTENTS
  
  HTML & Resets
  Animations
  Grid & Structure
  Content Styles 
  Post Styles
  Form Elements
  Footer


*/
   
    
// =======================================================================
// HTML & Resets
// =======================================================================

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0; 
}
 
*, *:before, *:after {
    @include box-sizing; 
}

article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object {
    display:block
}

html {
    font-size: 62.5%; 
}

body {
    color: $text-color; 
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size: 1.5rem; 
}

body, input, textarea, select, button {
    font-family: $font-body;
}

a, a:visited {
    color: $link-color;
    text-decoration: none;
    &:hover, &:active {
        color:darken($link-color,10%);
    }
}
    
a:hover, :focus, li:hover, img:hover, input:hover {
    @include transition(all 0.3s linear);
}

p { 
    margin: $vert-rhythm;
    line-height:$leading;
} 

hr {
    display: block;
    height:1px;
    background:$border-dark;
    color:$border-dark;
    border:0;
}

figure {
    position:relative;
    img {
        width:100%
    }
}

img {
    height: auto;
    max-width:100%
}
    
h1, h2, h3, h4, h5 {
    font-family: $font-display;
    @extend .tuning;
}



// =======================================================================
// Animations
// =======================================================================  

@include keyframes(fadeIn) {
    0% {opacity:0}
    100% {opacity:1}
}

    

// =======================================================================
// Grid & Structure
// =======================================================================
   
.row {
    max-width: $content-width;
    clear: both;
    margin:0 auto;
    
    .col {
        float: left;
        min-height: 1px;
    }
}   

.left {
    float:left
}

.right {
    float:right
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

header {
    .bar {
        background:#111;
        @extend .clearfix;
        height:57px;
    }
}


    
// =======================================================================
// Content Styles
// =======================================================================


/*Misc*/

.tuning {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}



    
// =======================================================================
// Post Styles
// =======================================================================

article {
    
    h1 {
        font-size:2.4rem;
    }
    
    h2 {
        font-size:2rem;
    }
            
    h3 {
        font-size:1.8rem;
    }
    
    h4 {
        font-size:1.4rem;
    }
    
    h5 {
        font-size: 1rem
    }
    
    h6 {
        font-size: .8rem;
    }
   
   blockquote {
        padding:0 18px;
        margin:25px 45px;
        border-left:3px solid $border-dark;
        color:$text-color-lt;
    }
    
    pre, code {
        font: 1em "Courier New", Courier, monospace;
    }
    
    code {
        background:$bg-lt;
        padding:8px;
        color:$text-color-lt;
        display:block;
    }
    
    ul, ol {
        padding:15px 0;
    }
    
    ul li, ol li {
        margin:0 0 10px 48px;
        line-height:135%;
    }
            
    ul {
        list-style:disc;
    }

    dl dt {
        font-weight: bold;
    }
    
    dl dd {
        margin: 0 0 15px 0;
    }
    
   img {
        display:block;
        margin:22px auto;
    }   
}



    
// =======================================================================
// Form Elements
// =======================================================================

input[type=text], input[type=email], input[type=password], textarea {
    border-style:1px solid $border-dark;
    padding:8px;
    color:$text-color;
}

textarea {
    width:100%;
}   

input:focus, textarea:focus {
    border-color:#333;
}

a.btn, a.btn:visited, .btn, input[type=submit] {
    background:#333;
    color:#fff;
    padding: 12px 32px;
    text-transform:uppercase;
    letter-spacing:.01em;
    border-radius:2px;
    cursor: pointer;
    @include appearance(none);
    border:none;
}

a.btn:hover, a.btn:active, .btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:focus {
    outline:none;
    background:#000;
}




// =======================================================================
// Footer
// =======================================================================
         
 footer {
 }
    
    